custom:
  secrets: ${file(./config.json)}

service: ${self:custom.secrets.service.name}

frameworkVersion: "3"

provider:
  name: ${self:custom.secrets.provider.name}
  runtime: ${self:custom.secrets.provider.runtime}
  lambdaHashingVersion: 20201221
  stage: ${opt:stage, 'dev'}
  profile: botnorrea
  region: ${self:custom.secrets.provider.region}
  environment:
    BOT_NAME: ${self:custom.secrets.provider.environment.BOT_NAME}
    REDIS_HOST: ${self:custom.secrets.provider.environment.REDIS_HOST}
    REDIS_PORT: ${self:custom.secrets.provider.environment.REDIS_PORT}
    REDIS_PASSWORD: ${self:custom.secrets.provider.environment.REDIS_PASSWORD}
    TELEGRAM_TOKEN: ${self:custom.secrets.provider.environment.TELEGRAM_TOKEN}
    MONGO_USER: ${self:custom.secrets.provider.environment.MONGO_USER}
    MONGO_PASSWORD: ${self:custom.secrets.provider.environment.MONGO_PASSWORD}
    MONGO_DATABASE: ${self:custom.secrets.provider.environment.MONGO_DATABASE}
    FILESMANAGER_API: ${self:custom.secrets.provider.environment.FILESMANAGER_API}
    FILESMANAGER_API_KEY: ${self:custom.secrets.provider.environment.FILESMANAGER_API_KEY}
    DONNEVE_API: ${self:custom.secrets.provider.environment.DONNEVE_API}
    DONNEVE_PAGE: ${self:custom.secrets.provider.environment.DONNEVE_PAGE}
    MIX_PANEL_API_KEY: ${self:custom.secrets.provider.environment.MIX_PANEL_API_KEY}
    MAIN_CHAT: ${self:custom.secrets.provider.environment.MAIN_CHAT}
    DEV_CHAT: ${self:custom.secrets.provider.environment.DEV_CHAT}

functions: ${self:custom.secrets.functions}
